$txt-color: linear-gradient(180deg, #7759F3 0%, #3AFCC2 100%);
$bg-color:  linear-gradient(180deg, #7759F3 0%, #3AFCC2 100%);
$bg-section:  linear-gradient(79.57deg, rgba(119, 89, 243, 0) 10.75%, rgba(255, 255, 255, 0.3) 50.17%, rgba(119, 89, 243, 0) 106.55%);
$bg-section-2:  linear-gradient(79.57deg, rgba(31, 17, 85, 0) 10.75%, #130518 50.17%, rgba(31, 17, 85, 0) 106.55%);



